# Default ignored files
/../../SingleMachineProblem /.idea/shelf/
/../../SingleMachineProblem /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../SingleMachineProblem /.idea/httpRequests/
# Datasource local storage ignored files
/../../SingleMachineProblem /.idea/dataSources/
/../../SingleMachineProblem /.idea/dataSources.local.xml
